.Input {
  color: var(--font-primary);
  background-color: transparent;
  border: 1px solid var(--font-sub);
  border-radius: var(--border-radius-sm);
  padding-inline: var(--layout-size-sm);
  padding-block: var(--layout-size-xs);
  width: 100%;
}

.Input::placeholder {
  color: var(--font-sub);
}

.Input:where([data-error='true']) {
  border-color: var(--font-error);
}
