.Text[data-size='xs'] {
  font-size: var(--font-size-xs);
}

.Text[data-size='sm'] {
  font-size: var(--font-size-sm);
}

.Text[data-size='md'] {
  font-size: var(--font-size-md);
}

.Text[data-size='lg'] {
  font-size: var(--font-size-lg);
}

.Text[data-size='xl'] {
  font-size: var(--font-size-xl);
}

.Text[data-weight='light'] {
  font-weight: var(--font-weight-light);
}

.Text[data-weight='normal'] {
  font-weight: var(--font-weight-normal);
}

.Text[data-weight='medium'] {
  font-weight: var(--font-weight-medium);
}

.Text[data-weight='semibold'] {
  font-weight: var(--font-weight-semibold);
}

.Text[data-weight='bold'] {
  font-weight: var(--font-weight-bold);
}

.Text[data-color='primary'] {
  color: var(--font-primary);
}

.Text[data-color='secondary'] {
  color: var(--font-secondary);
}

.Text[data-color='success'] {
  color: var(--font-success);
}

.Text[data-color='warning'] {
  color: var(--font-warning);
}

.Text[data-color='error'] {
  color: var(--font-error);
}

.Text[data-color='info'] {
  color: var(--font-info);
}

.Text[data-align='left'] {
  text-align: left;
}

.Text[data-align='center'] {
  text-align: center;
}

.Text[data-align='right'] {
  text-align: right;
}
