.Text:where([data-size='xs']) {
  font-size: var(--font-size-xs);
}

.Text:where([data-size='sm']) {
  font-size: var(--font-size-sm);
}

.Text:where([data-size='md']) {
  font-size: var(--font-size-md);
}

.Text:where([data-size='lg']) {
  font-size: var(--font-size-lg);
}

.Text:where([data-size='xl']) {
  font-size: var(--font-size-xl);
}

.Text:where([data-size='xxl']) {
  font-size: var(--font-size-xxl);
}

.Text:where([data-weight='light']) {
  font-weight: var(--font-weight-light);
}

.Text:where([data-weight='normal']) {
  font-weight: var(--font-weight-normal);
}

.Text:where([data-weight='medium']) {
  font-weight: var(--font-weight-medium);
}

.Text:where([data-weight='semibold']) {
  font-weight: var(--font-weight-semibold);
}

.Text:where([data-weight='bold']) {
  font-weight: var(--font-weight-bold);
}

.Text:where([data-color='primary']) {
  color: var(--font-primary);
}

.Text:where([data-color='secondary']) {
  color: var(--font-secondary);
}

.Text:where([data-color='success']) {
  color: var(--font-success);
}

.Text:where([data-color='warning']) {
  color: var(--font-warning);
}

.Text:where([data-color='error']) {
  color: var(--font-error);
}

.Text:where([data-color='info']) {
  color: var(--font-info);
}

.Text:where([data-color='accent']) {
  color: var(--font-accent);
}

.Text:where([data-color='disabled']) {
  color: var(--font-disabled);
}

.Text:where([data-color='sub']) {
  color: var(--font-sub);
}

.Text:where([data-align='left']) {
  text-align: left;
}

.Text:where([data-align='center']) {
  text-align: center;
}

.Text:where([data-align='right']) {
  text-align: right;
}
