.Header {
  height: 2.5rem;
  background: linear-gradient(
    to right,
    var(--neutral-color-400),
    var(--neutral-color-300),
    var(--primary-color-300)
  );
  overflow: hidden;
}

.Logo {
  height: 1.75rem;
  aspect-ratio: 1;
}
